form{
    text-align: center;
    margin-top: 50px;
    line-height: 50px;
    margin-left: 450px;
    margin-right: 450px;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px gray;
    transition: all 0.5s;
}

form:hover{
    transform: scale(1.03);
}

.head{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    background-color: rgb(117, 117, 231);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
    color: white;
}

input{
    width: 350px;
    height: 35px;
    border-radius: 7px;
    border: 0.5px solid rgb(83, 81, 81);
    padding: 5px;
}

label{
    font-size: larger;
    font-weight: bolder;
}

.btn2{
    width: 400px;
    height: 45px;
    margin-top: 50px;
    background-color: rgb(117, 117, 231);
    border: 1px solid lightblue;
    border-radius: 7px;
    margin-bottom: 50px;
    transition: all 0.9s;
    color: white;
    box-shadow: 0 9px 20px gainsboro;
}

.btn2:hover{
    box-shadow: 0 4px 15px lightblue;
    transform: translate(-10px, -10px);
    color: white;
}

.h2{
    text-decoration: underline;
}

.btn1{
    background-color: rgb(117, 117, 231);
    border: 1px solid lightblue;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 270px;
    padding: 10px;
}

h2{
    padding: 20px;
    text-decoration: underline;
}